*{
	margin:0; 
	box-sizing: border-box;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url('creed.jpg');
    background-size: cover;
}
.box{
    border-radius: 7px;
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 30%;
    left: 46%;
    transform: translate(-100%,-30%);
    background: #181717;
    text-align: center;
}
.box h2{
    color: white;
}
.box input[type = "text"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 26px;
    transition: 0.25s;
}
.box input[type = "text"]:focus{
    width: 250px;
    border-color: #2ecc71;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}
@media screen and (max-width:500px){
    body{
        background: border-box;
        background-color: rgb(13, 155, 155);
    }
    .box{
        transform: translate(-46%,-30%);
    }
}