<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Page</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>
  <form class="box" action="login" method="POST">
    <h2> Account Login </h2>
    <div data-validate="Username is required">
      <input type="text" name="username" required placeholder="Codeforces Username" />
    </div>
    <input type="submit" value="Enter"><br>
    <span style="background-color: whitesmoke;padding: 10px;font-size: smaller;">View project <a href="https://github.com/prackode" target="_blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg" alt="prackode" height="20" width="20" /></a></span>
  </form>
  {% if give_error %}
  <script>alert("Username Doesn't Exist");</script>
  {% endif %}
</body>
</html>